<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>White Christmas</title>
  </head>
  <body>
    <div id="container">
      <header>
      </header>
      <nav>
      </nav>
      <div id="content">
        <h1>How Well do YOU Know White Christmas???</h1>
        <form method="post" action="/">
          <h3>Given the picture, name the character!</h3>
          <input type="text" name="user" placeholder="Enter username">
          <div class="section1">
            <ul>
              <li>
                <img src="../images/waverly.jpg" alt="Old man in military attire" width="400"><br>
                <input type="radio" name="question1" value="wrong1" />General Carlton<br>
                <input type="radio" name="question1" value="wrong2" />Dean Jagger<br>
                <input type="radio" name="question1" value="wrong3" />Ed Harrison<br>
                <input type="radio" name="question1" value="correct" />Thomas Waverly<br><br>
              </li>
              <li>
                <img src="../images/bob.jpg" alt="Young man in military attire singing" width="400"><br>
                <input type="radio" name="question2" value="correct" />Bob Wallace<br>
                <input type="radio" name="question2" value="wrong2" />Bing Crosby<br>
                <input type="radio" name="question2" value="wrong3" />Phil Davis<br>
                <input type="radio" name="question2" value="wrong1" />Danny Kaye<br><br>
              </li>
              <li>
                <img src="../images/betty.jpg" alt="Young lady in black dress" width="400"><br>
                <input type="radio" name="question3" value="correct" />Betty Haynes<br>
                <input type="radio" name="question3" value="wrong2" />Judy Haynes<br>
                <input type="radio" name="question3" value="wrong3" />Rosemary Clooney<br>
                <input type="radio" name="question3" value="wrong1" />Vera Ellen<br><br>
              </li>
              <li>
                <img src="../images/phil.jpg" alt="Young man in suit with quizzical expression" width="400"><br>
                <input type="radio" name="question4" value="wrong3" />Bob Wallace<br>
                <input type="radio" name="question4" value="wrong2" />Bing Crosby<br>
                <input type="radio" name="question4" value="correct" />Phil Davis<br>
                <input type="radio" name="question4" value="wrong1" />Danny Kaye<br><br>
              </li>
              <li>
                <img src="../images/judy.jpg" alt="Young lady in white dress and red gloves" width="400"><br>
                <input type="radio" name="question5" value="wrong2" />Betty Haynes<br>
                <input type="radio" name="question5" value="correct" />Judy Haynes<br>
                <input type="radio" name="question5" value="wrong3" />Rosemary Clooney<br>
                <input type="radio" name="question5" value="wrong1" />Vera Ellen<br><br>
              </li>
            </ul>
          </div>
          <h3>Given the quote, who said it?</h3>
          <div class="section2">
            <ul>
              <li>
                <h4>"My dear partner, when what's left of you gets around to what's left to be gotten, what's left to be gotten won't be worth getting, whatever it is you've got left."</h4>
                <input type="radio" name="question6" value="wrong1" />The General<br>
                <input type="radio" name="question7" value="wrong2" />Bob<br>
                <input type="radio" name="question6" value="correct" />Phil<br>
                <input type="radio" name="question6" value="wrong4" />Betty<br>
                <input type="radio" name="question6" value="wrong3" />Judy<br><br>
              </li>
              <li>
                <h4>"Miss Haynes, if you're ever under a falling building and someone runs up and offers to carry you to safety, don't think, don't pause, don't hesitate a moment, just spit in his eye."</h4>
                <input type="radio" name="question7" value="wrong1" />The General<br>
                <input type="radio" name="question7" value="correct" />Bob<br>
                <input type="radio" name="question7" value="wrong2" />Phil<br>
                <input type="radio" name="question7" value="wrong4" />Betty<br>
                <input type="radio" name="question7" value="wrong3" />Judy<br><br>
              </li>
              <li>
                <h4>"Well you're not exactly Superman, but you're awfully available."</h4>
                <input type="radio" name="question8" value="wrong1" />The General<br>
                <input type="radio" name="question8" value="wrong3" />Bob<br>
                <input type="radio" name="question8" value="wrong2" />Phil<br>
                <input type="radio" name="question8" value="wrong4" />Betty<br>
                <input type="radio" name="question8" value="correct" />Judy<br><br>
              </li>
              <li>
                <h4>"You didn't expect me to come down in my bathrobe, did you?"</h4>
                <input type="radio" name="question9" value="correct" />The General<br>
                <input type="radio" name="question9" value="wrong3" />Bob<br>
                <input type="radio" name="question9" value="wrong2" />Phil<br>
                <input type="radio" name="question9" value="wrong4" />Betty<br>
                <input type="radio" name="question9" value="wrong1" />Judy<br><br>
              </li>
              <li>
                <h4>"You shouldn't mix fairytales with liverwurst and buttermilk."</h4>
                <input type="radio" name="question10" value="wrong4" />The General<br>
                <input type="radio" name="question10" value="wrong3" />Bob<br>
                <input type="radio" name="question10" value="wrong2" />Phil<br>
                <input type="radio" name="question10" value="correct" />Betty<br>
                <input type="radio" name="question10" value="wrong1" />Judy<br><br>
              </li>
            </ul>
          </div>
          <h3>Finish the quote:</h3>
          <div class="section3">
            <ul>
              <li>
                <h4>"Brother, you laid. . ."</h4>
                <input type="radio" name="question11" value="wrong1" />Too low.<br>
                <input type="radio" name="question11" value="correct" />A Vermont Volleyball.<br>
                <input type="radio" name="question11" value="wrong2" />An Ostrich Egg.<br>
                <input type="radio" name="question11" value="wrong3" />A Whole Goose.<br><br>
              </li>
              <li>
                <h4>"How do you do?"</h4>
                <input type="radio" name="question12" value="wrong1" />Never better!<br>
                <input type="radio" name="question12" value="wrong2" />How do I do what?<br>
                <input type="radio" name="question12" value="correct" />Mutual, I'm sure.<br>
                <input type="radio" name="question12" value="wrong3" />Who's there?<br><br>
              </li>
              <li>
                <h4>"I want you to get married.  I want you to have 9 children, and if you only spend 5 minutes a day with each kid, that's 45 minutes, and I'd at least have time to. . ."</h4>
                <input type="radio" name="question13" value="correct" />Get a massage.<br>
                <input type="radio" name="question13" value="wrong2" />Go for coffee.<br>
                <input type="radio" name="question13" value="wrong1" />Read the paper.<br>
                <input type="radio" name="question13" value="wrong3" />Go for a run.<br><br>
              </li>
              <li>
                <h4>"Well like any self-respecting housekeeper. . ."</h4>
                <input type="radio" name="question14" value="wrong1" />I read your mail.<br>
                <input type="radio" name="question14" value="wrong2" />I use steam.<br>
                <input type="radio" name="question14" value="wrong3" />I eavesdropped from the back room.<br>
                <input type="radio" name="question14" value="correct" />I listened in on the other line.<br><br>
              </li>
              <li>
                <h4>"I got along very well without you in the Army."</h4>
                <input type="radio" name="question15" value="correct" />It took 15,000 men to take my place.<br>
                <input type="radio" name="question15" value="wrong2" />Did you really?<br>
                <input type="radio" name="question15" value="wrong1" />Of course you did.  Here's your suit.<br>
                <input type="radio" name="question15" value="wrong3" />It's a wonder you survived the war.<br><br>
              </li>
            </ul>
          </div>
          <input type="submit" value="Submit">
        </form>
      </div>
      <footer class="footer">
      </footer>
    </div>
  </body>
</html>
